{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
    servers {
        trusted_proxies static private_ranges
    }
}

# Listens on the $PORT environment variable provided by Railway
:{$PORT} {
    log {
        format json
    }

    @mqttWs {
        header Connection *Upgrade*
        header Upgrade    websocket
    }

    reverse_proxy @mqttWs {
        # Use a dynamic upstream with DNS-based discovery
        dynamic {
            resolver system
            addr {$MQTT_SERVICE}:{$MQTT_WS_PORT}
            refresh 1s
            dial_timeout 30s
        }

        # Load balancing configuration
        lb_policy round_robin
        lb_retries 100
        lb_try_duration 10s
        lb_try_interval 250ms

        # Passive health checks
        fail_duration 60s
        max_fails 300
        unhealthy_latency 5s
        unhealthy_request_count 200

        # Set the Host header for upstream communication
        header_up Host {hostport}
    }
}
