{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
    servers {
        trusted_proxies static private_ranges
    }
}

# Listen on the $PORT environment variable
:{$PORT} {
    # Access logs
    log {
        format json
    }

    @wss {
        header Connection *Upgrade*
        header Upgrade websocket
        path /*
    }

    reverse_proxy @wss {
        # Dynamically resolve the EMQX WSS service address
        dynamic a {
            name {$EMQX_WSS_SERVICE}
            port {$EMQX_WSS_PORT}
            refresh 1s
            dial_timeout 30s
            versions ipv4 ipv6
        }

        # Load balancing and passive health checks
        lb_policy round_robin
        lb_retries 100
        lb_try_duration 10s
        lb_try_interval 250ms

        fail_duration 60s
        max_fails 300
        unhealthy_latency 5s
        unhealthy_request_count 200

        # Set the Host header
        header_up Host {upstream_hostport}
    }
}
